.download-templates {
    background-color: #E3D2C4;
    padding: 40px 0;
}

.section-heading {
    font-family: 'Lato', sans-serif;
    color: #4A2C1D;
    margin-bottom: 40px;
}

.template-item {
    margin-bottom: 50px;
    border-radius: 5px;
    background-color: #4a2c1d50;
    padding: 2em;
}

.template-heading {
    font-family: 'Lato', sans-serif;
    margin-top: 20px;
    color: #4A2C1D;
}

.text-section p {
    font-family: 'Roboto', sans-serif;
    margin-top: 18px;
    color: #000;
}

.download-btn {
    background-color: #9B6D47;
    color: #F0F0F0;
}

.download-btn:hover {
    background-color: #4A2C1D;
    color: #F0F0F0;
}

.download-title {
    font-family: 'Lato', sans-serif;
    /* Use Lato for headings */
    /* font-size: 18px; */
    /* Adjust font size if needed */
    color: #4A2C1D;
    /* Matching the text color */
    margin-bottom: 8px;
    /* Adds some space between the title and the list */
}

.download-formats {
    padding-left: 0;
    /* Removes default padding */
    list-style-type: none;
    /* Removes bullets */
    margin-bottom: 10px;
    /* Adds space between list and button */
}

.download-formats li {
    font-family: 'Roboto', sans-serif;
    /* Use Roboto for body text */
    font-size: 10px;
    color: #4A2C1D;
    /* Matching the text color from the palette */
    margin-bottom: 5px;
    /* Adds space between list items */
}