.download-templates {
    background-color: #E3D2C4;
    padding: 40px 0;
}

.section-heading {
    font-family: 'Lato', sans-serif;
    color: #4A2C1D;
    margin-bottom: 40px;
}

.template-item {
    margin-bottom: 50px;
    border-radius: 5px;
    background-color: #4a2c1d50;
    padding: 2em;
}

.template-heading {
    font-family: 'Lato', sans-serif;
    margin-top: 20px;
    color: #4A2C1D;
}

.text-section p {
    font-family: 'Roboto', sans-serif;
    color: #9B6D47;
}

.download-btn {
    background-color: #9B6D47;
    color: #F0F0F0;
}

.download-btn:hover {
    background-color: #4A2C1D;
    color: #F0F0F0;
}