nav {
    font-family: "Lato", sans-serif;
    background-color: #4A2C1D;
    /* Darker background for the navbar */
}

nav a {
    color: #F0F0F0 !important;
    /* Light text color for links */
}

nav a:hover {
    color: #9B6D47 !important;
    /* Hover color for links */
}

nav .dropdown-menu {
    background-color: #BA8D6C;
    /* Dropdown menu background color */
}

nav .dropdown-menu a {
    color: #583B27;
    /* Dropdown menu item text color */
}

nav .dropdown-menu a:hover {
    color: #F0F0F0;
    /* Hover color for dropdown menu items */
}

/* Show dropdown on hover */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-item.dropdown:hover .dropdown-toggle::after {
    display: none;
    /* Hide dropdown indicator on hover */
}