.pricing_page {
    background: url('/src/Creatives/Pricing_Page_BG.jpg');
}

.pricing_heading {
    font-family: "Lato", sans-serif !important;
}

.text-4A2C1D {
    color: #4A2C1D;
    /* Darker Rich Chocolate */
}