.form-check-input {
  width: 40px;
  height: 20px;
}

.form-check-input:checked {
  background-color: #007bff;
}

.form-check-label {
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  color: #333;
}

body.dark-mode .form-check-label {
  color: #ffffff;
}

.navbar-dark .form-check-input:checked {
  background-color: #ffc107;
}